.container {
    margin-top: 100px;
}


.footer {
    height: 70px;
    background-color: #343a40;


}

.image-atom {
    width: 75px;

}



.col-md {
    margin-bottom: 50px;

}

.cont-image-card {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.image_team1 {
    width: 100px;
}

.image_team2 {
    width: 70px;
    margin-top: 10px;
    margin-left: 50px;
}

.match-cards {
    margin-bottom: 500px;
}

.ubiq-image {
    margin-top: 17px;
    margin-left: 55px;
}

.bottom-card {
    margin-bottom: 100px;
}

.image_nbs {
    width: 150px;
    margin-right: 20px;

}

.image_micro {
    width: 120px;
    margin-bottom: 80px;

}

.image_ubiqum {
    width: 150px;
    margin-top: 20px;
    margin-right: 12px;
}

.texto-centrado-toronto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.card-match {
    margin-bottom: 75px;
}

.box_chat {
    overflow-y: scroll;
    height: 400px;
    padding-bottom: 25px;
    margin-top: 96px;
    border: 1px solid rgba(0, 0, 0, 0.54);

}



.inputs {
    margin-bottom: 120px;
    text-align: center;
}


.container_chat {
    margin-bottom: 71px;
    background-color: grey;

}


.text-box-chat {
    margin-bottom: 30px;
    margin-top: 50px;
    flex-grow: 1;
    border-style: solid;
}

.text-login-chat {
    margin-top: 10px;
}

.logo-chat {
    width: 100px;
    margin-left: 100px;
}

/* responsive design for iPhone 5, 5S, 5C and 5SE*/

@media (min-device-width: 321px) and (max-device-width: 568px) {
    .logo-chat {
        width: 100px;
        margin-left: 210px;
    }

}

@media (min-device-width: 321px) and (max-device-width: 568px) {
    .container_chat {
        margin-bottom: 45px;
        background-color: grey;
    }

}

@media (min-device-width: 321px) and (max-device-width: 568px) {
    .text-box-chat {
        
    margin-bottom: 30px;
    margin-top: 20px;
    flex-grow: 1;
    border-style: solid;
        
    }

}

   


.buttons {
    margin-bottom: 30px;
}

.box {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    margin-right: 10px;
}
