<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- META label to adapt on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- carregar llibreria versio 4.2.1 bootstrap sempre en el head-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Preguntar per què aquestes llibreries-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!--My own style CSS-->
    <link rel="stylesheet" href="./css_hack.css">


</head>

<body>

    <div id="app">

        <!-- Navigation bar, fixed on the top -------------------------------------------------------------->

        <div class="pos-f-t bg-dark fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark text-center">

                    <a href="#" v-on:click="makeActive('index')">
                        <h5 class="text-white">Home</h5>
                    </a>
                    <a href="#" v-on:click="makeActive('calendar_events_page')">
                        <h5 class="text-white">Agenda</h5>
                    </a>
                    <a href="#" v-on:click="makeActive('sponsors_page')">
                        <h5 class="text-white">Sponsors</h5>
                    </a>
                    <a href="#" v-on:click="makeActive('news_page')">
                        <h5 class="text-white">News</h5>
                    </a>

                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler rounded mx-auto d-block" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">

                    <img src="./images/atom-logo.png" class="image-atom" alt=" image">
                </button>
            </nav>
        </div>

        <!--   index page -------------------------------------------------------->

        <div v-show="active==='index'" class="index">

            <div class="container">

                <div class="h3 text-center">Hackaton Events</div>

                <div class="row" v-for="event in cityEvents">

                    <div class="card-deck">
                        <div class="col-md">
                            <div class="card ">
                                <div class="cont-image-card">
                                    <a href="#" v-on:click="getHackaton(event), makeActive('hack_event_page')"> <img v-bind:src="event.image" class="image-dublin w-100" alt=" imagen dublin">
                                        <div class="texto-centrado">
                                            <p>{{event.city}},</p>
                                            <p>{{event.country}}</p>
                                            <p>{{event.date}}</p>
                                        </div>
                                    </a></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{event.name}}</h5>
                                    <p class="card-text text-justify">{{event.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--   Hack event page and matches -------------------------------------------------------->

        <div v-show="active==='hack_event_page'" class="hack_event_page">
            <div class="container">

                <div class="h3 text-center">{{hackaton.name_hackaton}}</div>

                <div class="row">

                    <div class="card-deck">

                        <div class="col-md">
                            <div class="card">
                                <iframe class="w-100" v-bind:src="hackaton.map_location" frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">{{hackaton.university_location}}</h5>
                                    <p class="card-text text-justify">{{hackaton.description}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" card-match card border-dark" v-for="match, i in hackaton.matches">
                    <div class="card-header text-center">Match {{i+1}}</div>
                    <div class="card-body text-dark">

                        <div class="row">

                            <div class="col">
                                <img v-bind:src="match.image_one" class="image_team1" alt="Image team one">
                                <p>{{match.team_one}}</p>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    VS
                                </div>
                            </div>
                            <div class="col">
                                <img v-bind:src="match.image_two" class="image_team2" alt="Image team two">
                                <p class="ubiq-image">{{match.team_two}}</p>
                            </div>
                        </div>

                    </div>
                </div>





            </div>
        </div>

        <!--   calendar page -------------------------------------------------------->

        <div v-show="active==='calendar_events_page' " class="calendar_events_page">
            <div class="container">
                <div class="h3 text-center">Upcoming Hack Events</div>
                <ul class="list-group mt-5">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strike>Seattle, USA</strike>
                        <span class="badge badge-primary badge-pill">3 Junuary</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strike>Barcelona, CAT</strike>
                        <span class="badge badge-primary badge-pill">6 February</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strike>Berlin, GER</strike>
                        <span class="badge badge-primary badge-pill">6 February</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Toronto, Canada
                        <span class="badge badge-primary badge-pill">5 March</span>
                    </li>


                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dublin, Ireland
                        <span class="badge badge-primary badge-pill">15 March</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tokyo, Japan
                        <span class="badge badge-primary badge-pill">6 May</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        London, UK
                        <span class="badge badge-primary badge-pill">10 May</span>
                    </li>
                </ul>
            </div>
        </div>

        <!--News page -->

        <div v-show="active==='news_page' " class="news_page">

            <div class="container">

                <div class="h3 text-center">Hack News</div>

                <div class="row">

                    <div class="card-deck">

                        <div class="col-md">
                            <div class="card ">
                                <div class="cont-image-card">
                                    <a href="hack_event.html"> <img src="./images/new_hackaton.jpg" class="image-notice-one w-100" alt="image news one">
                                    </a></div>
                                <div class="card-body">
                                    <h5 class="card-title">Dublin airport announces a new Hackaton</h5>
                                    <p class="card-text text-justify">Dublin Airport has announced a Smart Airport Hackathon event on April 15-17 in order to foster innovation and enhance the customer experience at the airport.Held at the DCU Alpha Innovation Campus, the hackathon will be held in collaboration with RTÉ Digital and Frontline Ventures, who will provide judges and mentors.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card">
                                <img src="./images/new_hackton2.jpg" class="image-notice-two w-100" alt="image news two">
                                <div class="card-body">
                                    <h5 class="card-title">Masters of Code Hackaton arrives in San Francisco</h5>
                                    <p class="card-text text-justify">The next part of MasterCard's awesomely-named "Masters of Code" hackathon series arrives in San Francisco on August 22nd - 23rd to continue its search for the best coders in the world. The city marks the seventh stop on the intense 12-city tour.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sponsors page-->

        <div v-show="active==='sponsors_page' " class="sponsors_page">

            <div class="container">

                <div class="h5 text-center">Media Sponsors</div>

                <div class="row mt-3 ml-5 mb-4">

                    <div class="col mt-4">
                        <img src="images/cnn.png" class="image_team1" alt="Image team one">

                    </div>
                    <div class="row align-items-center">

                    </div>
                    <div class="col">
                        <img src="images/nbc.jpg" class="image_nbs" alt="Image team two">

                    </div>
                </div>
                <div class="h5 text-center">Tech Sponsors</div>

                <div class="row ml-5">

                    <div class="col mt-4">
                        <img src="images/microsot.png" class="image_micro" alt="Image team one">

                    </div>
                    <div class="row align-items-center">

                    </div>
                    <div class="col">
                        <img src="images/ubiqum_logo.jpg" class="image_ubiqum" alt="Image team two">

                    </div>
                </div>

            </div>

        </div>

        <!-- Chat section-->

        <div v-show="active==='chat_page'" class="chat_page">

            <div class="box_chat">
                <div class="chat">
                    <div id="posts" class="box">
                        Loading posts...
                    </div>

                    <div class="inputs fixed-bottom">
                        <input id="textInput" class="input" type="text" placeholder="Your message...">
                        <button id="login" class="button is-info">Login!</button>
                        <button id="create-post" class="button is-primary">Send</button>
                    </div>
                </div>

            </div>

        </div>


        <!-- Navigation bar, fixed on the bottom -->

        <div class="footer text-center bg-dark fixed-bottom">


            <a href="#" v-on:click="makeActive('index')">
                <img src="./images/home.png" class="home-icon color-white rounded mt-3" alt="icon home">
            </a>


            <a href="#" v-on:click="makeActive('chat_page')">
                <img src="./images/chat.png" class="chat-icon color-white float-right mt-3 mr-4" alt="icon chat">
            </a>

            <a href="#" v-on:click="makeActive('news_page')"> <img src="./images/notice.png" class="notice-icon color-white float-left mt-3 ml-4" alt="icon new notices">
            </a>

        </div>

    </div>

    <!--script to Firebase app, to connect on my real time db-->

    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDz7oZCebfr8CIrtErxeyBrcAdoRcuz6aY",
            authDomain: "hackaton-app-7ec48.firebaseapp.com",
            databaseURL: "https://hackaton-app-7ec48.firebaseio.com",
            projectId: "hackaton-app-7ec48",
            storageBucket: "hackaton-app-7ec48.appspot.com",
            messagingSenderId: "119612639867"
        };
        firebase.initializeApp(config);
    </script>

    <!--Vue script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--json-->
    <script src="data_json.js"></script>
    <!--JS script-->
    <script src="hackaton_data.js"></script>


</body>

</html>
